name: Call auto assign

on:
  pull_request:
    types: [opened]

permissions:
  contents: write
  pull-requests: write

jobs:
  call_auto_assign:
    uses: yaronkaikov/main/.github/workflows/auto_assign.yaml@master
    secrets: inherit
